<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!</h1>
    <p>
      Your order has been confirmed!<br>
      Your card has been charged <%= @order.total_cents %>.
    </p>
  </body>
</html>