<tr>
  <td class="text-center"><%= review.rating %></td>
  <td><%= review.description %></td>
  <td>
    <% if current_user && review.user_id == current_user.id %>
    <%= link_to 'Delete Review', [review.product, review],
               method: :delete %>
    <% end %>
  </td>
</tr>