<tr>
  <td class="text-center"><%= review.rating %></td>
  <td><%= review.description %></td>
  <td><%= current_user && review.user_id == current_user.id ? "You wrote this review!" : "You didn't write this review!" %></td>
</tr>